@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-image: linear-gradient(to bottom, #8ED9F1, #0567D9);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-repeat: no-repeat;
    height: 150vh;
    
}
header{
    background-color: #2c72b7;
    backdrop-filter: blur(60px);
    border-radius: 20px 20px 20px 20px;
}
.logo{
    margin-left: 2%;
    padding-top: 1%;
    width: 150px;
    display: flex;
    align-items: center;
    
}
.menuPrincipal{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: #fffaf0;
    padding: 16px;
    
    
}

.cBotao{
    color: #fffaf0;
    font-size: 24px;
    font-weight: 600;
    text-shadow: #2c72b7 1px 1px 1px;
    text-decoration: none; 
    background-color: #2c72b7 ;
    border: none;
    height: 50px;
    width: 200px;

    
}

.cBotao:active{
    background: #8ED9F1;
    border-radius: 100px;
}

